{% extends base_template %}
{% load budgeter_extras %}
{% block content %}
<h3>Recent Transaction Total: ${{ transactions_total }}</h3>
{% comment %}
{% if base_template == 'budgeter/base.html' %}
{% endcomment %}
account_id: {{ account_id }}
account.id: {{ account.id }}
account.type: {{ account.type }}
account: {{ account }}
<form action="{% url 'transaction_records_list_view' account_id=account_id account_type=account|get_class %}" method="GET">
  {% csrf_token %}
  <label for="start_date">Start Date</label>
  <input type="date" name="start_date" {% if start_date %} value={{ start_date }} {% endif %}>
  <label for="end_date">End Date</label>
  <input type="date" name="end_date" {% if end_date %} value={{ end_date }} {% endif %}>
  <select multiple name="transaction_types">
    <option value="D">Deposit</option>
    <option value="W">Withdrawal</option>
    <option value="T">Transfer</option>
    <option value="X">Expense</option>
    <option value="AC">Adjustment - Credit</option>
    <option value="AD">Adjustment - Debit</option>
  </select>
  {% comment %}
  <select multiple name="accounts">
    {% for account in all_accounts %}
      <option value="{{ account.id }}">{{ account.name }}</option>
    {% endfor %}
  </select>
  {% endcomment %}
  <input type="submit">
</form>
{% for account in all_accounts %}
{% if account|to_class_name == 'Account' %}
<a href="{% url 'account_detail' pk=account.id %}">{{ account.name }}</a>
{% elif account|to_class_name == 'CreditCard' %}
<a href="{% url 'credit_card_detail_view' pk=account.id %}">{{ account.name }}</a>
{% endif %}
{% endfor %}
{% comment %}
{% endif %}
{% endcomment %}
{% include 'budgeter/transaction_record_form_list.html' %}
{% endblock %}
